beautifulsoup4==4.9.3
emoji-country-flag==1.2.3
html5lib==1.1
lxml==4.6.2numpy==1.19.5
openpyxl==3.0.6
pandas==1.2.0
qwikidata==0.4.0
requests==2.25.1
selenium==3.141.0
tabula-py==2.2.0
tabulate==0.8.7
